@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #0f0f0f;
    background-color: hsl(264, 55%, 6%);
}

.font-primary {
    font-family: 'Poppins', sans-serif;
}

.fw-900 {
    font-weight: 900;
}
.fw-800 {
    font-weight: 800;
}
.fw-700 {
    font-weight: 700;
}

.content-wrapper {
    /* transform: translateX(0); */
    transition: transform 0.5s ease 0.25s, opacity 0.5s ease 0.25s;
}

.slide {
    /* transition: transform 0.2s ease 0.25s, opacity 0.2s ease 0.25s; */
    transition: transform 0.1s ease, opacity 0.1s ease;
}

#question.hide,
.btn-purple.hide,
.list-group-item.hide {
    transform: translateX(-100%);
    opacity: 0;
}
#question.hide,
.btn-purple.hide,
.list-group-item.right {
    transform: translateX(100%);
    opacity: 0;
}

.list-group-item {
    background-color: hsl(265, 24%, 15%);
    color: #ffffff;
    /* transition: opacity 0.25s ease 0.25s; */
}

.form-check-input:checked {
    background-color: #d572c4;
    border-color: #d572c4;
}

.btn-purple {
    background-color: #d572c4;
    background-color: #291548;
    color: #d572c4;
    background-color: #58269f;
    color: #ffffff;
}

.btn-purple:hover {
    background-color: hsl(265, 61%, 32%);
    color: #ffffff;
}
